# The data types in Python

## show the types
#### Tasks： Show the type for each of the following expressions
- 3.14   
- True  
- 'Michael'  
- [1,2,3]  
- (1,2,3)  
- {'a':1}  
- {1,2,2,3}  
- None  
Tips: use the python Bulit-in function type

In [ ]:
#input your code:

## Number operations:
Task:Using Python as a Calculator to caculate the following expressions:  

- 10+20
- 10-5
- 10*5
- 10/5
- 10%3
- 5**3

### Boolen
#### Tasks： calculte the boolen value as following expressings:  
    3 > 4  
    4.0 > 3.999  
    2 + 2 == 4  
    True or False  
    False or False  
    not False  
    3.0 - 1.0 != 5.0 - 3.0  
    3 > 4 or (2 < 3 and 9 > 10)  
    not(4 > 3 and 100 > 6)

## Strings
Besides numbers, Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result.   
code your expressions to out as following:
- 'abc'
- " I'm Mike "
- 'My name is "Mike" '
- I'm   
  Mike
- I'm \nMike

Tipes:
1. \ can be used to escape quotes
2. \n means newline
3. The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:\
4. if you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

## Strings oprations


Task:
- repeat 'Pyhton' by 3 times
- find the 5th character of the string 'Python'
- slice the 2nd(included) to 5th position(excluded) characters of of the string 'Python'
- calculte the length of the string 'Python'

Tips:
- Strings can be concatenated (glued together) with the + operator, and repeated with *:
- Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:
- The built-in function len() returns the length of a string:

In [4]:
'Python'*3

'Python'[4]

'o'

## Lists
#### Tasks：
- 1.build a list of ['Mike','Julia','Esther'] and bind it with a variable of names
- 2.find the item of this list in 0 position (index)
- 3.slice the list from 0 position(including) to 2nd position(excluding)
- 4.calculate the length of the list
- 5.add a new item of 'Jordan' at the end of list
- 6.insert a new item of 'Jim' at the 1st postion of this list
- 7.remove the last item of list
- 8.remove the item in the 1st position
- 9.change the item in the 2nd position with new item 'Marissa'
- 10.bulid a enmpty list

## Turple
#### Tasks：
    1.build a list of ('Mike','Julia','Esther') and bind it with a variable of names
    2.find the item of this turple in 0 position (index)
    3.slice the turple from 0 position(including) to 2nd position(excluding)
    4.calculate the length of the turple
    5.bulid a tuple with only 1 element of 'Mike'

## Dictionary
#### Tasks：
    1.bulid a dictionay with 3 key-value pairs of 'Michale':85,'Julia':76,'Asther':95
    2.find the value corresponding to 'Michael'
    3.add a new key-value pair of 'Jim':100
    4. update the key of 'Jim' with a new score of 99
    5.remove the key-value pair of 'Asther':95

In [8]:
d = {'Michale':85,'Julia':76,'Asther':95}
d.pop('Asther')
d

{'Julia': 76, 'Michale': 85}

## Set
#### Tasks：
    1.bulid a set with 3 items:1,2,3,named it as s
    2.convert a list of [1,2,3,4] to a set
    3.add a new item of 4 into the s
    4.remove a item of 2 from the set s
    5.

## Simple if Statements
Tasks:  
Try inputs an age, if age > 18:print("You are an adult"),if 18>=age>10,print("You are a teenage"),if age<=10, print('You are a child')

In [10]:
age = float(input("How old are you? "))
if age > 18:
    print("You are an adult")
elif age>10:
    print("You are a teenage")
else:
    print('You are a child')

How old are you? 10
You are a child

## Iteration using for Statements 
#### Tasks
    1. print all the items in a list of  ['Mike','Julia','Esther'] 
    2. sum up from 1 to 100 with for loop

## Iteration using while statement
#### Tasks
    1. sum up from 1 to 100 with for loop

## Functions
#### Tasks
    1. find the absolute value of -10
    2. change the string type '123' to int type
    3. define a function to calculte any summation from 1,2,3 .... to n(as a parameter)

# Problem sets  
## Problem 1
Assume s is a string of lower case characters.
Write a program that counts up the number of vowels contained in the string s. Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. For example, if s = 'azcbobobegghakl', your program should print:

## Module
#### Tasks
1. import a bulit-in module named math, then find the pi
2. calculate the $sin(\frac{1}{2}\pi)$

# Class
Tasks:  
1. define a class named Animal,initialized with two attributes:name and age, one method of sound,which will print "Animal can sound ..."
2. creat a instance from the class and get the attributes and call the method of sound